.Project {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 12px;
    display: flex;
    border: 1px solid #d4d4d494;
    transition: all 200ms;
}
.Project:hover {
    box-shadow: 0px 2px 10px 0px #00000014;
}
