.Toolbar{
    display: flex;
    background: #28759a;
    padding: 40px;
    width: 320px;
    min-width: 320px;
    color: white;
    box-shadow: 4px -1px 13px 3px #0000002e;
    height: 100vh;
    top: 0;
    z-index: 10;
}

.Toolbar a {
}

.Toolbar li {
    padding: 10px 0;
}

.Profile {
    background: #2a6486ab;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
}